// Global default params
params {
    outdir = 'out'
    project_id = 'allen-discovery-center-mcovert'
    region = 'us-central1'
    image_name = 'covertlab-wcm-code'
}

profiles {
    gcloud {
        process.memory = '2 GB'
        process.cpus = 1
        process.executor = 'google-batch'
        process.container = "${params.region}-docker.pkg.dev/${params.project_id}/vecoli/${params.image_name}:latest"
        google.project = project_id
        google.location = "${params.region}"
        docker.enabled = true
        params.project_root = '/vivarium-ecoli'
        params.publish_dir = ""
    }
    sherlock {
        process.memory = '2 GB'
        process.cpus = 1
        process.executor = 'slurm'
        process.queue = 'mcovert'
        process.time = '2h'
        singularity.enabled = true
        params.project_root = '/vivarium-ecoli'
    }
    standard {
        process.executor = 'local'
        process.container = "${params.region}-docker.pkg.dev/${params.project_id}/vecoli/${params.image_name}:latest"
        docker.enabled = true
        params.project_root = '.'
    }
}
