// Global default params
params {
    gcpProjectId = 'allen-discovery-center-mcovert'
    gcpRegion = 'us-central1'
    onGcp = false
    onSherlock = false
}

profiles {
    gcloud {
        process.memory = { 2.GB * task.attempt }
        process.cpus = 1
        process.executor = 'google-batch'
        process.container = 'IMAGE_NAME'
        google.project = "${params.gcpProjectId}"
        google.location = "${params.gcpRegion}"
        docker.enabled = true
        params.projectRoot = '/vivarium-ecoli'
        params.publishDir = "${workflow.start}"
        params.onGcp = true
    }
    sherlock {
        process.memory = { 2.GB * task.attempt }
        process.cpus = 1
        process.executor = 'slurm'
        process.queue = 'mcovert'
        process.time = { 2.h * task.attempt }
        process.maxRetries = 5
        singularity.enabled = true
        params.projectRoot = '/vivarium-ecoli'
        params.publishDir = '$SCRATCH/out'
        params.onSherlock = true
    }
    standard {
        process.executor = 'local'
        params.projectRoot = '$(pwd)'
        params.publishDir = '$(pwd)/out'
    }
}
