alabaster==0.7.12
attrs==22.1.0
Babel==2.10.3
beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
fastjsonschema==2.16.2
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
importlib-resources==5.9.0
Jinja2==3.1.2
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
lxml==4.9.1
MarkupSafe==2.1.1
mistune==2.0.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nbsphinx==0.8.9
nest-asyncio==1.5.6
packaging==21.3
pandocfilters==1.5.0
pkgutil_resolve_name==1.3.10
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.4
pyzmq==24.0.1
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.2.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tinycss2==1.1.1
tornado==6.2
traitlets==5.4.0
urllib3==1.26.12
webencodings==0.5.1
zipp==3.8.1
