name: Deploy Documentation

on:
  push:
    branches: [master]

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          sudo apt-get install pandoc
          python -m pip install --upgrade pip wheel
          pip install numpy Cython
          pip install -r requirements.txt
          python setup.py install
          pip install -r doc/requirements.txt
      - name: Compile Cython components
        run: |
          make clean compile
      - name: Build documentation
        run: |
          cd doc
          make html
      - name: Deploy documentation to GitHub pages
        run: |
          cd doc/_build/html
          touch .nojekyll
          git config --global init.defaultBranch master
          git config --global user.name "CovertLab [bot]"
          git config --global user.email "CovertLab@users.noreply.github.com"
          git init
          git add -A
          git commit -m "Sphinx build from commit $GITHUB_SHA by GitHub Action"
          git push -f "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git" master:gh-pages
