name: Test Documentation

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  merge_group:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.merge_group.head_sha || github.ref }}
  cancel-in-progress: true

jobs:
  test-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "0.7.12"
      - name: Install Pandoc
        run: sudo apt-get install pandoc
      - name: Install model
        run: USE_CYTHON=1 uv sync --frozen --extra docs
      - name: Build documentation
        run: |
          cd doc
          uv run make html
