# Modified from GitHub Actions template

name: Workflow

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Reproducibility:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Install model
      run: uv sync
    - name: Test ParCa reproducibility
      run: |
        uv run runscripts/parca.py --config ecoli/composites/ecoli_configs/run_parca.json \
            -c 3 -o out/parca_1
        uv run runscripts/parca.py --config ecoli/composites/ecoli_configs/run_parca.json \
            -c 3 -o out/parca_2
        uv run runscripts/debug/compare_pickles.py out/parca_1/kb out/parca_2/kb
    - name: Test simulation reproducibility
      run: |
        uv run ecoli/experiments/ecoli_master_sim.py \
            --generations 1 --emitter parquet --emitter_arg out_dir='out' \
            --experiment_id "parca_1" --daughter_outdir "out/parca_1" \
            --sim_data_path "out/parca_1/kb/simData.cPickle" --fail_at_total_time &
        uv run ecoli/experiments/ecoli_master_sim.py \
            --generations 1 --emitter parquet --emitter_arg out_dir='out' \
            --experiment_id "parca_2" --daughter_outdir "out/parca_2" \
            --sim_data_path "out/parca_2/kb/simData.cPickle" --fail_at_total_time
        uv run runscripts/debug/diff_simouts.py -o "out" "parca_1*" "parca_2*"
  Two-gens:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Install model
      run: uv sync
    - name: Install nextflow edge
      run: |
        curl -s https://get.nextflow.io | bash
        chmod +x nextflow
        echo "PATH=.:$PATH" >> $GITHUB_ENV
        NXF_EDGE=1 ./nextflow self-update
    - name: Two generations
      run: |
        uv run runscripts/workflow.py --config ecoli/composites/ecoli_configs/two_generations.json
