# Modified from GitHub Actions template

name: QA

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
        version: "0.5.21"
    - name: Install model
      run: USE_CYTHON=1 uv sync --frozen --extra dev
    - name: Test with pytest
      run: |
        uv run --env-file .env pytest --cov-report xml:cov.xml --cov=ecoli --cov=reconstruction --cov=wholecell --cov=runscripts --durations=0
    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: cov.xml
        format: markdown
        indicators: true
        output: both
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md
  Mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
        version: "0.5.21"
    - name: Install model
      run: USE_CYTHON=1 uv sync --frozen --extra dev
    - name: Mypy
      run: |
        uv run mypy
  Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
        version: "0.5.21"
    - name: Install model
      run: USE_CYTHON=1 uv sync --frozen --extra dev
    - name: Ruff
      run: |
        uv run ruff check doc ecoli migration wholecell runscripts validation reconstruction
