# Modified from GitHub Actions template

name: Pytest

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install pip==20.0.2
        pip install pytest
        pip install numpy
        pip install Cython
        python setup.py install
    - name: Cythonize
      run: |
        make clean compile
    - name: Test with pytest
      run: |
        pytest
